body {
margin:0;
padding:0;

}

.f {
background-image:url(pol.jpg);
}
.pic {
position:relative;
left:200px;
}
 #navbar ul {
  display: none;
  background-color:#00CC66;
  position: absolute;
  top: 100%;
  
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  background-color: #666;
  padding-left: 25px;
  min-width: 470px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color:#00CC33; }
#navbar ul li:hover { background-color: #666; }

@media all and (max-width: 450px){
body {
        height: 100%;
     width: 100%;
    }
}
    #f1 {
        height: 50%;
     width: 100%;
    }
}
